 <html>
<head>
<style>
 
h1 {
  text-align: center;
  text-transform: uppercase;
  color: red;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}
 .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
 
</style>
</head>
<body>

<div>
  <h1>Conclusion and Future Work</h1>
  <p>In this article, we discussed an unexplored form of opinion
spam, where spammers target brands as a whole, posting
extreme reviews, to change the overall sentiment about the
brand. These groups are often part of a complex business
Web that is capable of influencing the overall popularity and
reputation of several brands on review websites. This article
is the first step toward linking brand-level group activities
and extremism in reviews, which uncovers important insights
about marketplace activities. These insights would help in
developing a better recommendation that makes use of online
reviews</P>
<p>A set of candidate spam groups was retrieved using FIM,
and extremist groups were identified by observing their actions
as a group based on various features, using a supervised learning technique based on a ground truth of manually annotated
labels. We then classified extremist and moderate groups and
compared the accuracy across multiple classification methods</P>
<p>After classifying these groups, we observed the behaviors
for extremist groups in detail to gain further insights about the
phenomenon and the overall trends of how these groups target
these brands. We have also released the codes and annotated
data set for further studies</P>
 
  
</div>
 <input type="button" class="button" onclick="window.location.href='{{url_for('index')}}';" value="HOME" />
</body>
</html>
